<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Resend confirmation instructions</h3>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: 'Enter email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Resend confirmation instructions", class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
