<li class="list-group-item" id="item-<%= item.id %>">
  <% if !item.complete? %>
    <%= link_to [@list, item], method: :patch, remote: true do %>
       <span class="item glyphicon glyphicon-unchecked"></span>
    <% end %>
  <% else %>
     <span class="glyphicon glyphicon-check"></span>
  <% end %>
  <span class="item"><%= item.name %></span>
  <% if !item.complete? %>
    <span class="badge"><%= pluralize(item.days_left, 'day') %> left</span>
  <% else %>
    <div class="pull-right">
      <%= link_to  [@list, item], method: :delete, remote: true, class: 'btn btn-danger btn-xs' do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  <% end %>
</li>
