<li class="list-group-item" id="item-<%= item.id %>">
  <% if !item.complete? %>
    <%= link_to '', [@list, item], method: :patch, remote: true,
      class: 'item glyphicon glyphicon-unchecked' %>
  <% else %>
     <span class="glyphicon glyphicon-check"></span>
  <% end %>
  <span class="item"><%= item.name %></span>
  <% if !item.complete? %>
    <span class="badge"><%= pluralize(item.days_left, 'day') %> left</span>
  <% else %>
    <div class="pull-right">
      <%= link_to '', [@list, item], method: :delete, remote: true,
        class: 'btn btn-danger btn-xs glyphicon glyphicon-remove' %>
    </div>
  <% end %>
</li>
